# sasl_passwd
# Syntax: 
# domain	username:password
# Example: 
# foo.com	username:password
# See /usr/share/doc/packages/postfix/README_FILES/SASL_README
# for more details

{{mail_relay_host}} {{mail_relay_user}}:{{mail_relay_pass}}